.idea/ES6_Study.iml
.idea/git_toolbox_prj.xml
.idea/modules.xml
.idea/vcs.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/3/c/3c6b63efb4ffb7fe3a4ed5c8b2e2668b265e83e2
/ES6_Study.iml
/.idea/misc.xml
/.idea/encodings.xml
